<div class="main">
  <section id="container">
    <div id="logo-daviplata">
      <img src="/assets/base/dashboard/LOGO-DAVIPLATA.png" alt="" />
    </div>
    <div id="notification-container">
      <img src="/assets/base/dashboard/menu.svg" alt="" />
      <img
        id="notification-icon"
        src="/assets/base/dashboard/notificacion.svg"
        alt=""
      />
    </div>
    <div style="position: relative">
      <div id="options-container">
        <div class="options-info button-left" style="float: left">
          <div class="button-group">
            <img src="/assets/base/dashboard/Abrir Productos.svg" alt="" />
          </div>
          <div>
            <p>
              Soluciones <br />
              Mi negocio
            </p>
          </div>
        </div>
        <div class="options-info button-right" style="float: right">
          <div>
            <p>Topes</p>
          </div>
          <div class="button-group gray">
            <img src="/assets/base/dashboard/Grupo.svg" alt="" />
          </div>
        </div>
      </div>

      <div id="circular-container">
        <p class="extra-bold mi-dav">Mi DaviPlata</p>
        <p class="extra-bold cash">$8'000.00,00</p>
        <img src="/assets/base/actions.png" />
      </div>
      <div id="secondary-container">
        <p>NanaStore</p>
        <div id="pagos">
          <div>
            <p style="color: #383838; font-weight: 700">Vender</p>
            <p style="color: #575757; font-size: 16px">
              Elija una opción para recibir el pago de su venta.
            </p>
          </div>
          <div class="icons-qr-pse">
            <div>
              <img src="/assets/base/dashboard/qr.svg" alt="" />
              <p>Código QR</p>
            </div>
            <div>
              <img src="/assets/base/dashboard/pse.svg" alt="" />
              <p>Enlace de pago</p>
            </div>
          </div>
        </div>
        <div id="diamond" routerLink="/dashboard/benefits">
          <img src="/assets/base/dashboard/diamante.svg" alt="" />
          <div>
            <p>Más ingresos para su negocio</p>
            <p>Conozca los beneficios.</p>
          </div>
        </div>
        <div id="catalog">
          <div id="titulo">
            <p>Catálogos</p>
            <div id="new-catalog">
              <img src="/assets/base/dashboard/mas.svg" alt="" />
              <p>Nuevo catálogo</p>
            </div>
          </div>
          <div id="container-cards">
            <div>
              <img src="/assets/base/dashboard/avon.png" alt="" />
              <p>Avon</p>
            </div>
            <div>
              <img src="/assets/base/dashboard/natura.png" alt="" />
              <p>Natura</p>
            </div>
            <div>
              <img src="/assets/base/dashboard/aquarella.png" alt="" />
              <p>Aquarella</p>
            </div>
            <div>
              <img src="/assets/base/dashboard/tenis.png" alt="" />
              <p>Pacífica</p>
            </div>
          </div>
        </div>
        <div class="container-bolitas">
          <div class="bolitas" style="background-color: red"></div>
          <div class="bolitas"></div>
          <div class="bolitas"></div>
        </div>
      </div>
    </div>
  </section>
</div>
